@keyframes iconAnimation {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0);
      }
      20% {
        -webkit-transform: translate(-20px, 20px);
                transform: translate(-20px, 20px);
      }
      40% {
        -webkit-transform: translate(-20px, -20px);
                transform: translate(-20px, -20px);
      }
      60% {
        -webkit-transform: translate(20px, 20px);
                transform: translate(20px, 20px);
      }
      80% {
        -webkit-transform: translate(20px, -20px);
                transform: translate(20px, -20px);
      }
      100% {
        -webkit-transform: translate(0);
                transform: translate(0);
      }
  }
  
 